body {
  background: #202124;
}

.task-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.task-input {
  border-radius: 35px;
  width: 50%;
  padding-left: 50px;
  font-size: larger;
}
.task-edit-input {
  background-color: transparent;
  border: none;
  resize: none;
  overflow: hidden;
  height: auto;
}

.task-edit-input:focus {
  outline: none;
}

.task-submit {
  width: 70px;
  height: 70px;
  margin-left: -70px;
  background-color: aquamarine;
  border-radius: 35px;
}

.tasks {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-flow: wrap;
  align-items: flex-start;
}

.done-tasks {
  margin-top: 150px;
}

.task {
  position: relative;
  margin: 25px;
  padding: 15px;
  border: 0.1rem black dashed;
  border-radius: 20px;
  background-color: rgb(250, 247, 72);

  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  flex-wrap: wrap;

  width: 120px;
  min-height: 100px;
  max-height: fit-content;
  overflow-wrap: break-word;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}

.done-task {
  background-color: aquamarine;
}

.task-buttons {
  background-color: transparent;
  border: none;
  font-size: x-large;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.task-button {
  margin: 5px;
  margin-bottom: -5px;
  padding-bottom: 0px;
}
